/* ==========================================
   RESPONSIVE
========================================== */

/* Portátiles */

@media (max-width:1200px){

    main{

        width:94%;

    }

}

/* Tablets */

@media (max-width:900px){

.hero{

    height:330px;

}

.logo-card{

    width:135px;
    height:135px;

}

.logo-card img{

    width:95px;

}

.profile h1{

    font-size:30px;

}

.profile p{

    font-size:17px;

}

.action{

    padding:20px;

}

.icon{

    width:50px;
    height:50px;
    font-size:22px;

}

.about,
.address{

    padding:25px;

}

}

/* Móviles */

@media (max-width:600px){

.hero{

    height:300px;

}

.wave{

    height:100px;

}

.logo-card{

    width:115px;
    height:115px;

}

.logo-card img{

    width:80px;

}

.profile{

    padding-top:35px;

}

.profile h1{

    font-size:25px;
    padding:0 20px;

}

.profile p{

    font-size:15px;

}

main{

    width:94%;
    margin-top:-55px;

}

.action{

    padding:18px;
    gap:15px;

}

.icon{

    width:46px;
    height:46px;
    border-radius:14px;
    font-size:20px;

}

.action h3{

    font-size:17px;

}

.action p{

    font-size:14px;

}

.about,
.address{

    padding:22px;

}

.about h2,
.address h2{

    font-size:22px;

}

.about p,
.address p{

    font-size:15px;
    line-height:1.7;

}

footer{

    padding:30px 20px;

}

}

/* Móviles pequeños */

@media (max-width:380px){

.hero{

    height:280px;

}

.logo-card{

    width:95px;
    height:95px;

}

.logo-card img{

    width:65px;

}

.profile h1{

    font-size:21px;

}

.profile p{

    font-size:13px;

}

.action{

    padding:15px;

}

.icon{

    width:40px;
    height:40px;
    font-size:18px;

}

.action h3{

    font-size:15px;

}

.action p{

    font-size:13px;

}

.about,
.address{

    padding:18px;

}

}
